# Ігнорування папок
node_modules/
build/
dist/

# Ігнорування файлів логів
*.log

# Ігнорування середовищ виконання
.env
.DS_Store

# Ігнорування файлів відлагодження
*.tmp
*.bak

# Ігнорування системних файлів
Thumbs.db
.vscode/
